/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
    padding: 0;
    margin: 0 !important;
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
}

.bgbody {
    background: #E9EAF6 no-repeat 50% 50% fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: 100% 100%;
    top: 0;
    z-index: -10;
}

.buttonCA{
    border-radius: 25px !important;
    height: 40px;
    color: white !important;
    justify-content: center;
    padding: 0 2.5rem !important;
}

.buttonCA-second{
    border-radius: 25px !important;
    height: 40px;
    color: black !important;
    justify-content: center;
    padding: 0 2.5rem !important;
}

.buttonCA-table{
    border-radius: 25px !important;
    color: white !important;
    justify-content: center;
}

.primary {
    background-color: #8BC34A;
}

.mat-toolbar.mat-primary {
    background: #1A237E;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.serchBg {
    background-color: whitesmoke;
}

.fonth2 {
    font-size: 3rem;
    margin-top: 0
}

.text {
    height: 100%;
    width: 100%;
    display: block;
    left: 1rem;
}

.text h2 {
    position: relative;
    color: #3b459e;
}

.text p {
    position: relative;
    color: #c3c3c3;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-1 {
    margin-left: 1.25rem;
}

.card {
    box-shadow: none;
}

.card:hover {
    -webkit-box-shadow: 3px 0px 10px 3px rgba(26,62,156,1);
    -moz-box-shadow: 3px 0px 10px 3px rgba(26,62,156,1);
    box-shadow: 3px 0px 10px 3px rgba(26,62,156,1);
}

.w-3 {
    width: 380px !important;
}

.w-3-rem{
    width: 21.5rem !important;
}

.confirmadas {
    font-size: .75rem;
}

.f-1 {
    font-size: 0.75rem;
}
.f-2{
    font-size: .85rem;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}

span {
    font-size: 0.74rem;
}

.mat-form-field {
    position: none !important;
    margin-right: 12px;
}

.w-6 {
    width: 100% !important;
}

.f-1r {
    font-size: 1rem;
}
p .mat-icon{
    position: relative;
    top: .5rem;
}
.iconsCA{
    color: rgba(0,0,0,.54);;
    font-size: .95rem;

}

.cursor{
    cursor: pointer;
}

.sw{
    fill: #c3c3c3;
    position: relative;
    z-index: -1;
}

.pointer-cursor{
    cursor: pointer;
}

.bg-blue{
    background-color: #1A237E !important;
}

.font-bold {
    font-weight: bold;
}

.date-picker-form {
    color: black !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #1A237E !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #1A237E !important;
}

.mat-select-panel{
    margin-top: 2.3rem !important;
}


/*
.bg-img
// {
    background-image: url('./assets/images/imagen.jpg');
    background-position: center;
    background-repeat: no-repeat;
} */


table {
  width: 100%;
}
